html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

#app {
  height: 100%;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_bar {
  list-style: none;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: #232323;
  border-radius: 10px;
  margin: 5px 5px 50px 5px;
}

.nav_bar li {
  font-size: 3em;
  margin: 3%;
}

body {
  font-family: 'Cinzel', serif;
  background-color: #121212;
}

.gotlikes {
  /* text-align: center; */
  letter-spacing: 5px;
  margin: auto 0;
  float: left;
}

.card {
  width: 70%;
  text-align: center;
  font-size: 18px;
  margin: 10%;
}

.card-body {
  opacity: 0.75;
}

.card button {
  border: none;
}

.home {
  text-align: center;
}

.home img {
  width: 100%;
  margin-top: -20px;
}

.item img {
  width: 100%;
}

.navbar li {
  display: flex;
}

.character_container {
  width: 95%;
  margin: 0 auto;
}

.carousel-inner {
  border: 5px solid white;
  border-radius: 1%;
}

.quotes {
  padding: 50px;
  color: #eee9e9;
  font-size: 24px;
}

.house_name {
  font-size: 16px;
  color: white;
}

#region {
  grid-column: 2;
  height: 100%;
  width: 100%;
}

.region-name {
    text-align: center;
    font-size: 4em;
    color: white;
    text-decoration: underline;
}

.houseName {
  text-align: center;
  color: white;
  list-style-type: none;
  font-size: 16px;
}

.house {
  color: black;
  font-size: 10px;
  padding: 5%;
  border: 1px solid white;
  width: 80%;
  margin: 10%;
  background-color: white;
  opacity: 0.75;
}

.house ul {
  list-style-type: none;
  color: black;
}

footer {
  display: flex;
  font-size: 16px;
  color: #eee9e9;
  padding: 15px;
  margin-top: 30px;
  float: right;
}


#map, #region-container {
  position: absolute;
}

#map {
  height: 100%;
  width: 100%;
}

#region-container {
  height: 50%;
  width: 50%;
  left: 35%;
  display: grid;
  grid-template-columns: 4fr 2fr;
}

#map-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

#region {
  grid-column: 1;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#house-container {
  grid-column: 1;
}

#characters {
  grid-column: 2;
}

a {
  color: white;
}

.login {
  margin: 0 auto;
  margin-top: 10%;
  background-color: #232323;
  padding: 50px;
  text-align: center;
  font-size: 24px;
  color: white;
  border: 1px solid white;
  width: 25%;
}

.login input {
  margin: 5%;
  background-color: #232323;
  width: 80%;
}

.login button {
  margin-top: 5%;
  border-radius: 2%;
  background-color: #232323;
}

.login_div {
  color: white;
  display: flex;
  width: 15%;
  margin-top: -50px;
  margin-bottom: 20px;
  list-style-type: none;
  float: right;
}

.login_div li {
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
}
